@import url(./_type/form-view__input_type_error.css);

.form-view__input {
  padding: 13px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.21;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
}

.form-view__input:active, .form-view__input:focus {
  padding: 13px 4px;
  outline: none;
}

@media screen and (max-width: 500px) {
  .form-view__input {
    font-size: 12px;
    padding: 12px 0;
  }
}
