@import url(./__logo/header__logo.css);

.header {
  width: 100%;
  padding-top: 45px;
  position: relative;
}

.header::after {
  content: '';
  opacity: .7;
  border-bottom: 1px solid #545454;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 28px;
  }
}
