.popup__close-button {
  width: 58px;
  height: 58px;
  border: none;
  background: url(../../../images/close-icon.svg) center / cover no-repeat;
  position: absolute;
  right: -47px;
  top: -47px;
}

@media screen and (max-width: 500px) {
  .popup__close-button {
    width: 42px;
    height: 42px;
    right: -34px;
    top: -34px;
  }
}
