.button {
  padding: 0;
  text-align: center;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
  outline: none;
}

.button:active, .button:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .button:hover {
    opacity: .6;
  }
}
